:root{

    --base:16;
    
}

* {
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: center;
}

#wrapper{

    margin-top: 3%;
    margin: bottom 3%;
    box-sizing: border-box;
    border: 1px solid green;
    border-radius: 10px;
    height: 900px;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

}


#container {
    margin-top: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    
    
}

#container div {
    
    box-sizing: border-box;
    border: 1px solid rgb(204,205,188);
    display: flex;
    flex-basis: calc(100% /var(--base));
    text-align: center;
    background-color: var(--backgroundColor);
    cursor: pointer;
}



#uiel{
    margin-top: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
    height: auto;
    width: 500px;
    display: flex;
    flex-direction: column;

}
.slidecontainer, .colorContainer {
    width: 100%; 
    display: flex;
    flex-direction: row;
  }
  
  #valueDisplay{
    box-sizing: border-box;
    appearance: none;
    margin-left:  2px;
    margin-right: 2px;
    padding: 2px;
    height: 25px;
    width: 25px;
    text-align: center;
    background: #d3d3d3; /* Grey background */
    border: 1px solid rgb(204,205,188);
    border-radius: 10px;


  }


  #colorEl{
    box-sizing: border-box;
    appearance: none;
    margin-left:  2px;
    margin-right: 2px;
    margin-top: 5px;
    padding: 2px;
    height: 25px;
    width: 100%;
    text-align: center;
    background: #d3d3d3; /* Grey background */
    border: 1px solid rgb(204,205,188);
    border-radius: 10px;


  }

  #switchBtn{
    margin-top: 5px;
    text-align: center;
    width: 100px;
    margin: auto;
  }

  .slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top: 5px;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #04AA6D;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }

